#Belajar Pyspark - Dataframe View dan SQL

Dalam notebook ini kita akan belajar mengenai cara membuat temporary view dan menjalankan SQL query menggunakan view tersebut.

In [1]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=ee8a878400d5d3725b6102f5624672caee7bf0604aa065400e6509b7726f1acb
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
spark = SparkSession.builder.appName("Belajar PySpark - Temp View & SQL").enableHiveSupport().getOrCreate()

Sebelumnya kita buat DataFrame dari sebuah python list, lalu kita akan lakukan transformasi terhadap DataFrame tersebut.

In [5]:
data = [['Agus','F',100,150,150],['Windy','F',200,150,180],
        ['Budi','B',200,100,150],['Dina','F',150,150,130],
        ['Bayu','F',50,150,100],['Dedi','B',50,100,100]]

kolom = ["nama","kode_jurusan","nilai1","nilai2","nilai3"]

df = spark.createDataFrame(data,kolom)

df.show()

+-----+------------+------+------+------+
| nama|kode_jurusan|nilai1|nilai2|nilai3|
+-----+------------+------+------+------+
| Agus|           F|   100|   150|   150|
|Windy|           F|   200|   150|   180|
| Budi|           B|   200|   100|   150|
| Dina|           F|   150|   150|   130|
| Bayu|           F|    50|   150|   100|
| Dedi|           B|    50|   100|   100|
+-----+------------+------+------+------+

##Menyimpan tabel

In [6]:
spark.sql("CREATE DATABASE mytest")

DataFrame[]

In [7]:
df.write.mode('overwrite') \
         .saveAsTable("mytest.mahasiswa")

In [13]:
!wget https://github.com/apache/spark/raw/master/examples/src/main/resources/users.parquet

--2023-09-29 09:07:35--  https://github.com/apache/spark/raw/master/examples/src/main/resources/users.parquet
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/apache/spark/master/examples/src/main/resources/users.parquet [following]
--2023-09-29 09:07:35--  https://raw.githubusercontent.com/apache/spark/master/examples/src/main/resources/users.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 615 [application/octet-stream]
Saving to: ‘users.parquet’

users.parquet       100%[===================>]     615  --.-KB/s    in 0s

2023-09-29 09:07:35 (37.4 MB/s) - ‘users.parquet’ saved [615/615]

In [ ]:
df1 = spark.read.load("users.parquet")
df1.select("name", "favorite_color").write.save("namesAndFavColors.parquet")