SQL adalah salah satu bahasa populer untuk pemrosesan dan analisis data. Spark mendukung SQL untuk memproses DataFrame.

Kita akan menggunakan data yang sama dengan yg digunakan pada bab eksplorasi DataFrame.

In [ ]:
%pip install pyspark

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

Inisialisasi spark session untuk berinteraksi dengan Spark cluster

In [ ]:
spark = SparkSession.builder.appName('DataFrame Basics').getOrCreate()

Download dataset

In [ ]:
!wget https://www.dropbox.com/s/4ozzaa2yvy2kkza/indonesia2013-2015.csv

Load ke dataframe

In [ ]:
df = spark.read.csv("indonesia2013-2015.csv", header=True, inferSchema=True)

Sebelum menggunakan SQL, kita perlu membuat temporary table dari dataframe yang akan kita olah.

Gunakan fungsi `createOrReplaceTempView(nama_tabel)` pada dataframe tersebut.

In [ ]:
df.createOrReplaceTempView("penduduk")

Selanjutnya kita bisa menggunakan nama tabel yang sudah kita definisikan dalam SQL statement.

Untuk mengeksekusi SQL statement, kita gunakan fungsi `sql(sqlstatement)` pada spark session.

In [ ]:
spark.sql("select count(*) from penduduk").show()

In [ ]:
spark.sql("select * from penduduk limit 5").show()

In [ ]:
spark.sql("""select *,
     CASE
      WHEN timezone == 'WIT' THEN 1
      WHEN timezone == 'WITA' THEN 2
      ELSE 3
     END as kode_timezone
     from penduduk limit 5""").show()